# Database (2nd one is needed for Diesel CLI)
RS_CHAT_DATABASE__URL=postgres://postgres:postgres@localhost/postgres
DATABASE_URL=postgres://postgres:postgres@localhost/postgres

# Auth
RS_CHAT_AUTH__ENCRYPTION_KEY=  # 32-byte hex secret, e.g. `openssl rand --hex 32`
RS_CHAT_AUTH__GITHUB__CLIENT_ID=
RS_CHAT_AUTH__GITHUB__CLIENT_SECRET=

# Logging
RS_CHAT_SERVER__LOG_LEVEL=info
